<div>
  <md-toolbar color="primary">
    <span><md-icon></md-icon></span>

    <span>{{title}}</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <md-card>
    <md-card-content>
    <form class="example-form" layout-align="center">
      <md-input-container>
        <input mdInput placeholder="Name">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="City">
      </md-input-container>
    </form>
    </md-card-content>
    <md-card-actions>
      <button md-fab>
        <md-icon>check circle</md-icon>
      </button>
    </md-card-actions>
  </md-card>

</div>
